footer{
    padding:10px;
    text-align: center;
    max-height:34px;
    position:fixed;
    left: 0;
    right:0;
    bottom:0;
    font-size: 13px;
    font-family: 'Indie Flower', cursive;
    background-color:#3B5998;
    color: white;
}

header {
    padding: 60px;
    text-align: center;
    background-color:#3B5998;
    color: white;
    font-size: 30px;
  }

  main 
  {
      padding: 50px;
  }
